.App {
  text-align: center;
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

form {
  width: -webkit-fill-available;
  box-sizing: border-box;
  display: block;
  align-items: center;
  padding: 0.8rem;
  background-color: rgb(243, 239, 239);
  bottom: 0;
  position: absolute;
}
.MessageInput {
  border: none;
  background-color: white;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1.125rem;
  height: 1rem;
}
